.container{
    height: 600px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    background-image: url(/images/bg_experience.jpg);
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.content{
    padding: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 90%;
}

.content>h1{
    font-size: 2em;
}

.columns{
    flex-direction: row;
    display: flex;
    width: 100%;
}

.col{
    width: 33%;
    flex:33%;
    padding: 1rem;    
}

@media screen and (max-width: 992px) {
    .col {
      flex: 100%;
      width: 100%;
    }    
    .columns{
        flex-direction: column;
    }
}
